body
{
  background-color: #06314E;
}
.container
{
  width: 70%;
  height: 86%;
  margin:auto;
  background-image: url("../img/easter_eggs_1.jpeg");
  padding-top: 10%;
}
.extension_name
{
  color: #06314E;
  font-weight: bold;
}
h2
{
  margin-left: 40%;
  color: #000000;
  font-weight: bold;
  color:green;
  font-family: 'Calligraffitti';
}
p
{
  margin-left: 5%;
  color: #000000;
  font-family: 'Cherry Swash';
}
li
{
  margin-left: 5%;
  color: #000000;
  font-family: 'Cherry Swash';
}
h3
{
  margin-left: 5%;
  color: #000000;
  font-weight: bold;
  color:green;
  font-family: 'Calligraffitti';
}
.credits, .about
{
  position: relative;
  background-color: hsl(0, 100%, 100%);
  background-color: hsla(0, 100%, 100%, 0.4);
  width: 80%;
  margin-left: 9%;
  padding: 1%;
}
.about
{
  position: relative;
}
.person
{
  margin-left: 10%;
}
