body {
  width: 600px;
  height: 900px;
  max-width: 600px;
  margin: auto;
}

.jumbotron {
	background-color: #fff;
	margin-top: 5%;
	padding: 0;
	border: 1px solid #dcdde1;
	/*Box Shadow*/
		-webkit-box-shadow: 0px 2px 18px 0px rgba(158,158,158,0.51);
		-moz-box-shadow: 0px 2px 18px 0px rgba(158,158,158,0.51);
		box-shadow: 0px 2px 18px 0px rgba(158,158,158,0.51);
}

header {
}

.main img {
	width: 100%;
}

.main {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.lead {
	margin: 0;
	padding: 20px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #dcdde1;
	font-size: 14px;
	color: #616161;
}

/*FORM*/
.info {
	padding: 0;
	border-bottom: 1px solid #dcdde1;
	padding: 22px;
	text-align: center;
	font-size: 26px;
	color: #e74c3c;
}

.proteinInfoForm{
	padding: 40px 50px 10px 50px;
	margin: 0;
	font-size: 20px;
	color: #2d3436;
	border-bottom: 1px dotted #dcdde1;
}

input{
	text-align: center;
}

.genderRadio {
	flex-wrap: nowrap;
}

.proteinGoals {
	margin: 0;
	padding: 30px 40px;
	border-bottom: 1px solid #dcdde1;
	font-size: 20px;
	color: #2d3436;
}

.inputInfo {
	display: inline-block;
}

#brand {
	font-family: 'Fredoka One', cursive;
}

.optionsButtons {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 20px;
}

.btn-outline-success, .btn-outline-danger {
	margin: 5px;
	padding: 10px;
	width: 140px;
}

footer {
	margin: 0;
	padding-right: 0;
	text-align: center;
	font-size: 12px;
	color: #cecece;
}

