
/*#t {
  color:green;
}
#g{
  color: #DAA520;
}


h1 {
  color:#17a2b8;
}
*/

body {
	background-color: #ecf0f1!important;
}

#container {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	border: 1px solid #f5f6fa;
	border-radius: 3px;
	width: 280px;
	max-width:280px;
	text-align: center;
}

header {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #dcdde1;
}

header img {
	width: 34px;
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

header h1 {
	font-size: 20px!important;
	font-family: 'Fredoka One', cursive;
	color: #E64C42;
	margin: 0;
	padding: 0;
}

/*Stats*/
.proteinStats {
	display: flex;
	justify-content: space-between;	
	align-items: center;
	padding: 15px 45px;
	font-family: 'Arimo', sans-serif;
}

.proteinStats h3 {
	padding-top: 8px;
	color: #E64C42!important;
	font-size: 30px
}

.proteinStats span {
	color: #2d3436!important;
	font-size: 40px;
	font-weight: 700;
}

.goal {
	flex-grow: 1;
	border-bottom: 1px dotted #dcdde1;
}

.total {
	flex-grow: 1;
	border-bottom: 1px dotted #dcdde1;
}

/*Add Protein Input*/
.inputProtein {
	padding: 15px;
}

#amount, #addAmount {	
	border-radius: 3px;
	box-shadow: none;
}

#amount {
	border: 1px solid #dcdde1;
	width: 120px;
	color: #dcdde1;
	font-weight: 100;
	text-align: center;
	padding: 8px;
}

#addAmount {
	border: 1px solid #27ae60;
	color: #27ae60;
	font-weight: 100;
}