#progressBar
{
  position:absolute;
  width: 62.7%;
  bottom: 7.59%;
  left:7.3%;
  background-color: #ddd;
  visibility: visible;
}
#proteinIntake
{
  width: 0%;
  height: 3.5px;
  background-color: #ded541;
}
#progressComplete
{
  position: absolute;
  width: auto;
  height: auto;
  left: 0%;
  right: auto;
  top:auto;
  bottom: 1%;
  text-align: left;
  margin: auto;
  color: #DAA520;
  z-index: 1;
  font-size:11px;
}
